---
---

<section class="scroll-mt-16 dark:bg-steel-700 min-height: 100vh">
	<div class="absolute inset-1 pointer-events-none mb-5" aria-hidden="true"></div>
	<div class="relative max-w-6xl mx-auto px-4 sm:px-6">
		<div class="py-4 pt-8 sm:py-6 lg:py-8 lg:pt-12">
            <hgroup class="text-steel-600 dark:text-steel-100">
			<h1 class="text-5xl font-heading pb-6 bg-clip-text font-bold text-justify md:text-center">
				Für Studierende
			</h1>
            </hgroup>
			<h2 class="text-4xl pb-2 text-center dark:text-steel-200">
				Semestertermine
			</h2>
			<div class="text-left pb-4">
                <p class="text-xl text-zinc-400">
					Beginn des Semesters: 01.04.2024<br>
					Beginn der Lehrveranstaltungen:	15.04.2024<br>
					Ende der Lehrveranstaltungen: 19.07.2024<br>
					Ende des Semesters: 30.09.2024<br>
					Freischaltung des Vorlesungsverzeichnisses: 01.03.2024<br>
					Aktuellste Informationen sind auf <a href="https://www.tu-darmstadt.de/studieren/studierende_tu/semestermine/index.de.jsp" style="color:dodgerblue"><u>dieser Webseite</u></a> einzusehen.
                </p>
            </div>
<hr>
			<h2 class="text-4xl pb-2 text-center dark:text-steel-200">
				Klausuren
			</h2>
			<div class="text-left">
                <p class="text-xl text-zinc-400">
					Anfang Klausurenphase (aka Vorlesungsfreie Zeit): 19.07.2024<br>
					Ende Klausurenphase: 30.09.2024
                </p>
            </div>
			<h3 class="text-3xl pb-2 pt-2 text-center dark:text-steel-200">
				Allgemein
			</h3>
			<div class="text-left">
                <p class="text-xl text-zinc-400">
					An der TU Darmstadt gibt es zwei Prüfungsformen: Fachprüfungen und Studienleistungen.
					Fachprüfungen können nur dreimal angetreten werden, bevor sie als endgültig nicht bestanden gewertet werden.
					Man sollte allgemein vermeiden in den Drittversuch zu kommen.
					Studienleistungen können beliebig oft angetreten werden und verlaufen häufig nicht in Form einer schriftlichen Prüfung.
					Die offiziellen Informationen sowie die Allgemeinen Prüfungsbestimmungen (APB) der TU Darmstadt können auf der <a href="https://www.intern.tu-darmstadt.de/verwaltung/dez_ii/campusmanagement/cm_pm/pm_studierende/index.de.jsp" style="color:DodgerBlue"><u>Seite des Dezernat II</u></a> eingesehen werden.
                </p>
            </div>
			<h3 class="text-3xl pb-2 pt-2 text-center dark:text-steel-200">
				Anmeldung
			</h3>
			<div class="text-left">
                <p class="text-xl text-zinc-400">
					Die Anmeldung der Klausuren verläuft über <a href="https://www.tucan.tu-darmstadt.de/scripts/mgrqispi.dll?APPNAME=CampusNet&PRGNAME=EXAMREGISTRATION&ARGUMENTS=-N242882662998214,-N000318,-N000000015156000" style="color:DodgerBlue"><u>TUCaN</u></a> und wird innerhalb des Semesters freigeschaltet.
					Überlicherweise ist diese von November bis Dezember im Wintersemester und von Mai bis Juni im Sommersemester verfügbar.
					Außerhalb dieser Zeit ist <u>KEINE</u> Prüfungsanmeldung möglich!
					Manchmal wird vom Studienbüro eine Ausnahme gemacht, wenn man früh ist und freundlich nachfragt, allerdings wird dies nicht gerne gesehen.
					Häufig können die Termine schon früher über die <a href="https://www.intern.tu-darmstadt.de/verwaltung/dez_ii/campusmanagement/cm_pm/pruefungstermine/zentrale_pruefungsplanung_1.de.jsp" style="color:dodgerblue"><u>Seite des Dezernat II</u></a> eingesehen werden.
					Allerdings sind hier wie auch auf TUCaN Änderungen im Verlauf des Semesters möglich.
                </p>
            </div>
			<h3 class="text-3xl pb-2 pt-2 text-center dark:text-steel-200">
				Einsichten
			</h3>
			<div class="text-left">
                <p class="text-xl text-zinc-400">
					Nach der Veröffentlichung der Noten einer Klausur gibt es die Möglichkeit der Einsicht.
					Hier kann die Bewertung eingesehen werden und es werden Lösungen oder Fachkundige bereitgestellt, sodass man Einspruch zu einzelnen Bewertungen erheben kann.
					Es ist zu beachten, dass eine folgende Nachkorrektur nicht nur positive Änderungen ergeben kann, sondern auch zu einer schlechteren Note führen kann, wenn Fehler bei der Erstkorrektur übersehen wurden.
                </p>
            </div>
			<h3 class="text-3xl pb-2 pt-2 text-center dark:text-steel-200">
				Lernen/Vorbereiten
			</h3>
			<div class="text-left">
                <p class="text-xl text-zinc-400">
					Zuallererst ist es wichtig, dass man zu den Vorlesungen und Übungen geht.
					Auch wenn einem dies sinnlos vorkommt, so bringen sie häufig doch etwas und zwingen einen dazu sich zumindest ein bisschen mit dem Inhalten auseinanderzusetzen.
					Auch ist sehr nützlich, wenn man sich mit Kommilitonen in der Uni zusammensetzt und dort Abgaben bearbeitet oder lernt.
					So hat man einen besseren Austausch und lernt gegebenenfalls ältere Studierende kennen, welche einem dabei helfen können oder zusätzliche Lernquellen empfehlen können.
					<br><br>
					Zur Klausurenphase selbst: Es ist wichtig, dass frühzeitig mit dem Lernen anfängt und nicht erst in der Woche vor der Prüfung die Inhalte wiederholt.
					Auch muss man im Auge behalten, dass mehrere Prüfungen dicht hintereinander dazu führen, dass man teilweise mehrere Wochen vor den eigentlichen Terminen anfangen muss, um die Zeit richtig auf die einzelnen Klausuren zu verteilen.
					Auch beim Lernen ist es sehr hilfreich, wenn man den Austausch mit anderen Studierenden sucht und so Lücken im eigenen Vorgehen finden kann. 
                </p>
            </div>
			<h4 class="text-2xl pb-2 pt-2 text-center dark:text-steel-200">
				Altklausuren
			</h4>
			<div class="text-left pb-4">
                <p class="text-xl text-zinc-400">
					Im CE Studierendenbereich Moodle, Maschinenbauerforum und ETIT Forum könnte ihr alle möglichen Altklausuren, ab und zu auch mit studentischen Lösungen, finden.
					Die Links findet ihr <a href="../../links/#angebote-von-fachschaften"style="color:dodgerblue"><u>hier</u></a>.
                </p>
            </div>
<hr>
			<h2 class="text-4xl pb-2 text-center dark:text-steel-200">
				Abschlussarbeiten
			</h2>
			<h3 class="text-3xl pb-2 text-center dark:text-steel-200">
				Bachelorarbeit
			</h3>
			<div class="text-left">
                <p class="text-xl text-zinc-400">
					Bei CE ist das Prozedere relativ einfach.
					Wann und wo ihr euere Bachelorarbeit schreibt ist euch sehr frei, das Thema muss nur gewissermaßen CE-relevant sein.
					Falls ihr Interesse habt diese bei einem spezifischem Professor oder Institut zu schreiben, geht einfach auf diese zu, meist können die euch weiterhelfen.
					Wenn ihr noch keine Ahnung habt über was ihr schreiben wollt ist das natürlich auch kein Problem.
					Auf den Webseiten der anderen Fachschaften oder deren Infotafeln sind immer welche ausgeschrieben.
					<br><br>
					Wenn ihr dann eine Aufgabenstellung habt, diese ausgedruckt und unterschrieben zusammen mit <a href="https://www.ce.tu-darmstadt.de/media/ce/stbce/downloads_1/formulare_2/Anmeldung_Bachelorthesis_CE_2.pdf" style="color:DodgerBlue"><u>diesem Dokument</u></a> im Studienbüro bei Frau Lautenschläger abgeben.
					Mit der Abgabe der Dokumente fängt euere Bachelorarbeit offiziel an und ihr habt 20 Wochen (ca 5 Monate) hiermit fertig zu werden.
                </p>
            </div>
			<h3 class="text-3xl pb-2 pt-2 text-center dark:text-steel-200">
				Masterarbeit
			</h3>
			<div class="text-left pb-4">
                <p class="text-xl text-zinc-400">
					*shrug*
                </p>
            </div>
<hr>
			<h2 class="text-4xl pb-2 text-center dark:text-steel-200">
				Bachelor → Master
			</h2>
			<div class="text-left pb-4">
                <p class="text-xl text-zinc-400">
					Wenn ihr den CE Bachelor an der TU gemacht habt könnt ihr euch problemlos über <a href="https://www.tucan.tu-darmstadt.de/scripts/mgrqispi.dll?APPNAME=CampusNet&PRGNAME=EXTERNALPAGES&ARGUMENTS=-N075994604680378,-N000441,-Abewerbung" style="color:DodgerBlue"><u>TUCaN</u></a> für den Master bewerben.
					Dies ist auch möglich wenn ihr die Bachelorarbeit noch nicht fertig geschrieben habt.
                </p>
            </div>
<hr>
			<h2 class="text-4xl pb-2 text-center dark:text-steel-200">
				Jobs und Praktika
			</h2>
			<div class="text-justify md:text-left">
                <p class="text-xl text-zinc-400">
					Wenn du für die Zeit nach dem Studium einen Job oder ein Praktikum suchst oder einfach einen Nebenjob haben willst gibt es reichliche Möglichkeiten dies zu tun.
					An der Uni selbst gibt es immer große Nachfrage nach SHKs (Übungsleiter) und HiWis (Hilfswissenschaftliche Mitarbeiter).
					<br><br>
					Die Fachschaft Informatik bietet eine <a href="https://lists.d120.de/mailman3/postorius/lists/jobs.lists.d120.de/" style="color:DodgerBlue"><u>Mailingliste</u></a> an.<br>
					An der TU gibt es auch das <a href="https://www.stellenwerk.de/darmstadt/" style="color:DodgerBlue"><u>stellenwerk</u></a>.
                </p>
            </div>
		</div>
	</div>
</section>
