---
import { Icon } from 'astro-icon/components';
import { Image, getImage } from 'astro:assets';

import { getPermalink } from '~/utils/permalinks';
import mascot from '@assets/images/OwO-Blob.png';
---

<section class="relative dark:bg-steel-700 border-b border-steel-600">
	<div class="max-w-8xl mx-auto px-8 md:px-20 relative z-10">
		<div class="py-12 md:py-20">
			<div class="text-left max-w-6xl mx-auto md:grid md:grid-cols-2">
				<hgroup class="dark:text-zinc-300">
					<h1 class="text-5xl font-bold font-heading">
						Fachschaft
					</h1>
					<p class="text-5xl mb-12 font-bold">
						<span class="bg-gradient-to-r from-primary-500 to-secondary-600 bg-clip-text text-transparent whitespace-nowrap">
							<!-- Fachschaft<br> -->
							Computational Engineering
						</span>
					</p>
				</hgroup>
				<div style="grid-area: 1/2/5/3;">
					<picture>
						<Image
							src={mascot}
							alt=""
							class="h-auto w-auto md:max-w-[125%] md:max-h-[calc(100%+20em)] mx-auto relative -mt-10 -z-10"
							width={1240}
							height={1055}
							loading="eager"
						/>
					</picture>
				</div>
				<div class="text-justify md:text-left">
					<p class="text-xl dark:text-zinc-400 mb-4">
						Dies ist die neue Webseite der Fachschaft Computational Engineering. <br>
						Hier könnt ihr alles mögliche über die Fachschaft erfahren aber auch generell Infos zum Studium. <br>
						Klickt euch am besten einfach mal durch!
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
